*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Common styles */

/* header section styles */
.container{
    background-color: #FF900E1A;
    width: 100vw;
    height: 100vh;
    padding: 20px 180px 20px 160px;
}
/* nav-section styles started */
.nav-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.logo>h3{
    font-size: 40px;
    font-weight: 800;
    color: #3f3535;
    
}

.menu{
    display: flex;
    float: left;
    text-justify: auto;
    margin-left: 50px;
    font-size: 20px;
    text-align:justify;
}
/* nav-section styles ended */

/* banner-section styles started */
.banner{
    text-align: center;
}
.btn-primary{
    background-color: #FF900E;
    color: #f1ecec;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 15px;
}
.banner-image>img{
    /* height:100%; */
    width:100%;
    padding: 40px;
    padding-bottom: 40px;
    /* object-fit: cover; */
    /* object-position: center; */
}
/* banner-section styles ended */

/* header section styles ended */
/* main section styles started */
/* quick-list-section styles started */

.quick-list-section{
    display: flex;
    width: 100%;
    align-items: center;
    padding:40px 80px;
}
.quick-list-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    width: 50%;
}
.quick-list-grid>img{
    width: 100%;
}
.quick-list-text{
    width: 50%;
    padding-left: 50px;
}
.quick-list-text>h2{
    font-size: 40px;
    padding-bottom: 20px;
}

.quick-list-color{
    color:#9d8d8d;
}
.features-color{
    color: #FF900E;
}
.quick-list-text>p{
    font-size: 22px;
    padding-bottom: 20px;

}
/* quick-list-section styles ended */

/* features-section styles started */
.features-section{
    display: flex;
    gap: 50px;
    
}
.features-section-text{
    width: 50%;
    
}
.features-section-text>h2{
    font-size: 40px;
    font-weight: 700;
    border-left: 5px solid #ffc21a;
    padding: 10px;
}
.features-section-text>p{
    padding: 20px 0;
    font-size: 18px;
    
}
.features-card{
    width: 100%;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 6px whitesmoke;
    padding: 18px;
}
.features-card>h3,p{
    padding: 3px;
}
.features-section-image{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.features-section-image>img{
    width: 100%;
    height: 100%;
    
}
.features-section-image .experience{
    transform: translate(-15%, -35%);
}
.experience{
    width: 50%;
    padding: 40px; 
}
.experience>span{
    font-size: 35px;
    font-weight: 700;
    /* padding-bottom:225px; */
}
/* features-section styles ended */
/* facts-section styles started */
.facts-section-text{
    width: 40%;
}
.facts-section-text>h2{
    font-size: 30px;
    padding-bottom: 10px;
}
.facts-section-text>p{
    font-size: 18px;
    color: #9d8d8d;
}
.facts-card-section{
    display: flex;
    justify-content: space-evenly;
}
.facts-cards{
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border: 2px solid #c8883f;
    border-radius: 5px;
}
/* facts-section styles ended */
/* sponsors-section styles started */
.sponsors-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sponsors-text>h2{
    font-size: 30px;
    font-weight: 700;
}
.sponsors-text>p{
    font-size: 18px;
    color: #9d8d8d;
}
.logos{
    display: flex;
    justify-content: space-between;    
}
.logos>img{
    width: 10%;
    padding: 40px 0;
    filter: grayscale(100%);
}
/* sponsors-section styles ended */
/*footer styles started */
.footer{
    width: 100%;
    height: 8%;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7ead8;
}
/* footer styles ended */


/* main section styles ended */